@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  line-height: 150%;
}

.custom-shape-divider-bottom-1653634769 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1653634769 svg {
  position: relative;
  display: block;
  width: calc(138% + 1.3px);
  height: 344px;
}

.custom-shape-divider-bottom-1653634769 .shape-fill {
  fill: #ffffff;
}
